<!--<div style="text-align:center;color:	#0080ff;">-->
<!--<b><p>Create and Designed by <span style="color:white"> Harsh.</span> </p>  </b>-->
<!--<b><p style="color:	#0080ff;">Trademark PhotoDiary 2018.All Rights Reserved.</p></b>-->

<!--</div>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    </body>
    
</html>
