<!--<div style="text-align:center;color:	#0080ff;">-->
<!--<b><p>Create and Designed by <span style="color:white"> Harsh.</span> </p>  </b>-->
<!--<b><p style="color:	#0080ff;">Trademark PhotoDiary 2018.All Rights Reserved.</p></b>-->

<!--</div>-->
    </body>
    
</html>
