<% include ../partials/header %>
<div class="container">
        <header style="margin-top:0px;" class="jumbotron">
            <div class="container">
                <h1>Welcome To PhotoDiary!!</h1>
                    <p>Use our handpicked Photo from all over the world!</p>
                
                    <a style="background-color:rgba(2, 23, 39,0.8);border:none;" class="btn btn-primary btn-large" href="/diary/new">Create a Photo to PhotoDiary</a>
                
            </div>
        </header>
        <div class="row text-centre" style="display:flex;flex-wrap:wrap;">
             <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="img-thumbnail">
                         <img style="border:none;" src ="<%= campground.image %>">
                    <div class="caption text-centre">
                        <strong style="margin-left:10px"><%= campground.title %></strong>
                    </div>
                    <p>
                        <a style="background-color:#021727;border:none;margin-left:10px;" href="/diary/<%= campground._id %>" class="btn btn-xs btn-primary btn-large">View</a>
                    </p>
                </div>
             </div>
                 <% }); %>
        </div>
</div>  
<% include ../partials/footer %>
        
           
       
        

        
        
        