<% include ../partials/header %>

        <header style="margin-top:0px;" class="jumbotron">
            <div class="container">
                <h1>Welcome To PhotoDiary!!</h1>
                    <p>Share your beautiful image to make people know your style!</p>
                
                    <a style="background-color:rgba(2, 23, 39,0.8);border:none;" class="btn btn-primary btn-large" href="/diary/new">Create a photo to PhotoDiary</a>
                
            </div>
        </header>
        <div class="container">
        <div class="row text-centre" style="display:flex;flex-wrap:wrap;">
             <% campgrounds.reverse().forEach(function(campground){ %>
            <div class="col-xs-4 col-md-3 col-sm-6">
                <div style="border:1px solid rgba(2, 23, 39,0.8);" class="img-thumbnail">
                         <a href="/diary/<%= campground._id %>"><img style="border:none;" src ="<%= campground.image %>"></a>
                    <div style="background-color:rgba(2, 23, 39,0.8);" class="caption text-centre">
                        <strong style="color:white;" style="margin-left:10px"><%= campground.title %></strong>
                    </div>
                    <!--<p>-->
                    <!--    <a style="background-color:#021727;border:none;margin-left:10px;" href="/diary/<%= campground._id %>" class="btn btn-xs btn-primary btn-large">View</a>-->
                    <!--</p>-->
                </div>
             </div>
                 <% }); %>
        </div>
</div>  
<% include ../partials/footer %>
        
           
       
        

        
        
        